code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
    color: #slateblue;
}

a {
    color: #slateblue;
}

a:hover {
    color: darkslateblue;
    background-color: #e3e4fa;
    text-decoration: none;
}

a img {
    border: solid 2px white;
}

a:hover img {
    color: darkslateblue;
    background-color: #e3e4fa;
    text-decoration: none;
    border: solid 2px #e3e4fa;
}

p.center {
    text-align: center;
}

table.wide {
    max-width: 100%;
    max-height: 100%;
}

table.wide td {
    max-width: 100%;
    max-height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}


td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

#hide_email b {
    display: none;
}


h1, h2, h3, h4 {
    color: darkslateblue;
}

ul ul {
    margin-bottom: 20px;
}


/* my stuff */

html {
    font-family: arial;
    font-size: 100%;
    color: #CCC;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .fotogrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1em;
  }
  
  .tile {
    position: relative;
    width: 100%;
    border: 1px solid black;
    display: grid; /* an inner grid */
  }
  
  .tile a {
    grid-row: 1; /* place in first row */
    grid-column: 1;  /* place in first column */
  }
  
  .tile img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .tile h4 {
    margin: 0;
    background-color: #000;
    padding: 10px 14px;
    opacity: .8;
    grid-row: 1; /* place in first row */
    grid-column: 1;  /* place in first column */
    align-self: flex-start; /* take auto-width */
  }
  
  .tile:hover {
    border: 1px solid #0066FF;
    opacity: .55;
  }